html,
body {
    margin: 0;
    padding: 0;
    background: #E5E5E5;
    font-family: 'Poppins', sans-serif;
    font-style: 16px;
}

.nav-color {
    background: #562EFF;
}

.navbar img {
    height: 51px;
}

.player {
    font-weight: 600;
}

.top-text {
    padding-top: 20px;
    padding-bottom: 30px;
    font-style: normal;
    font-size: 24px;
    color: #562EFF;
    margin-left: 10px;
}

.player img {
    width: 56px;
    height: 56px;
}

.blog img {
    width: 177px;
    height: 117px;
    cursor: pointer;
    padding-right: 20px;
}

.blog h6 {
    font-weight: 700;
}

.courses img {
    width: 224px;
    height: 104px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.course-title {
    color: #562EFF;
    font-weight: 500;
    font-size: 24px;
    padding-top: 40px;
    padding-bottom: 20px;
}

.sec-sizing {
    box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05);
}

.checked {
    color: orange;
}

.footer img {
    width: 15px;
    margin: 0;
    padding: 0;
}

.card {
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px 30px gray;
}

.card-img-top {
    padding: 10px;
    transition: all 0.5s ease-in-out;
}

.card-img-top:hover {
    transform: scale(0.9);
}

.footer-box {
    color: #cf6044;
    background-color: #FEE5DF;
    border-radius: 20px;
}

.card-footer small {
    font-weight: 500;
    font-size: 14px;
}

.footer-box img {
    width: 15px;
}

.card-footer {
    border: none;
}

.clr {
    color: #ED6B4F;
}

.card-body h6,
p {
    font-weight: 600;
    font-size: 18px;
}